<h1>Payment Calculation</h1> 

<form action="/payment/results">
  <label for="rate">APR</label>
  <input id="rate" type="text" name="user_apr" placeholder="E.g. 4.12">
  <br>
  
  <label for="years">Number of years</label>
  <input id="years" type="text" name="user_years" placeholder="Years to repay">
  <br>
  
  <label for="principal">Principal</label>
  <input id="principal" type="text" name="user_pv" placeholder="Enter amount">
  <br>
  
  <button>Calculate monthly payment</button>
</form>
