<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <label for="the_num">Enter a number</label>
  <input type id="the_num"="text" name="user_number">
  <div>
    <button>Calculate square root</button>
  </div>
</form>
