<h1>Square Calculation</h1>

<form action="/square/results">
  <label for="the_num">Enter a number</label>
  <input type id="the_num"="text" name="user_number" placeholder="Enter a number">
  <div>
    <button>Calculate square</button>
  </div>
</form>
