<h1>Stats Calculation</h1>
 
<forms action="/descriptive_stats/results">
  <label for="list">Numbers</label>
  <input id="list" type="text" name="list_of_numbers" placeholder="Separate numbers by a space">
  <br>

  <button>Calculate descriptive statistics</button>
</forms>

