<h1>Word Count Calculation</h1>

<form action="/word_count/results">
  <label for="sample">Text</label>
  <textarea id="sample" type="text" name="sample_text" placeholder="Enter some text"></textarea>
  <br>
  
  <label for="special">Special word</label>
  <input id="special" type="text" name="special_word" placeholder="Enter a particular word">
  <br>
  
  <button>Process Text</button>
</form>